<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FrmMyAlum練習17111914.Properties.Settings.Photo" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=H:\MSIT11730305\ADO\FrmMyAlum練習17111914\DatabasePhoto.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>